<p><strong>Invoice Id</strong></br>
<%= @invoice.id %></p></br><br />


<p><strong>User Id</strong></br>
<%= @invoice.user %></p></br><br />


<p><strong>Sub-Total</strong></br>
<%= @invoice.sub_total %></p></br><br />


<p><strong>VAT</strong></br>
<%= @invoice.vat %></p></br><br />


<p><strong>Total</strong></br>
<%= @invoice.total %></p></br><br />


<p><strong>Created At</strong></br>
<%= @invoice.created_at %></p></br><br />
