<div class="nested-fields">
  <hr class="divider" />
  <div class="form-row">
    <%= f.label :post_id, 'Post' %><br/>
    <%= f.select(
      :post_id,
      options_from_collection_for_select(Post.all, :id, :title),
      { prompt: true },
      class: 'form-control'
    ) %>
  </div>

  <div class="form-row">
    <div class="col-12 div col-sm-6">
      <%= f.label :position %>
      <%= f.number_field :position %>
    </div>
  </div>

  <%= link_to_remove_association "Remove Stage", f %>
</div>