<%= render 'shared/model_errors', model: @collection %>

<div class="form-row">
  <%= f.label :name %><br/>
  <%= f.text_field :name, class: "form-control" %>
</div>

<div class="form-row">
  <%= f.label :collection_type %><br/>
  <%= f.select(
      :collection_type,
      options_for_select(Collection.collection_types.keys.map{|type| [type.humanize, type]}),
      { prompt: true },
      class: 'form-control'
      )%>
</div>

<%= f.fields_for :collections_posts do |collection_post| %>

  <%= render 'collections_post_fields', f: collection_post %>

<% end %>

<div class="links">
  <%= link_to_add_association 'Add Stage', f, :collections_posts %>
</div>

<div class="form-row">
  <%= f.submit class: 'mt-2 btn btn-pink' %>
</div>