<%= render "hero_home_page_banner" %>

<%= render "what_is" %>

<%= render "expert_banner" %>

<div class="content-section">
  <div class="content-wrap">
    <div class="row">
      <% if Masterclass.last.present? %>
        <div class= "col-xs-12 col-md-8">
          <%= render "shared/current_masterclass", masterclass: Masterclass.last %>
        </div>
      <% end %>
      <% if User.contributor.first.present? %>
        <div class= "col-xs-12 col-md-4">
          <%= render "shared/contributor", contributor: User.contributor.first %>
        </div>
      <% end %>
      </div>


    <div class="row">
      <div class=" col-xs-12 col-md-9">
        <%= render "layouts/posts" %>
      </div>
      <div class="col-md-3">
        <%= render "layouts/previous_masterclasses" %>
      </div>
    </div>
  </div>
</div>

<%= render "testimonial_banner" %>