<%= render "hero_home_page_banner" %>

<%= render "what_is" %>

<%= render "expert_banner" %>

<div class="content-section">
  <div class="content-wrap">
    <div class="container">
      <div class="row bor-b-1 align-items-center">
        <% if Masterclass.last.present? %>
          <div class= "col-xs-12 col-md-8 pb-5">
            <%= render "shared/current_masterclass", masterclass: Masterclass.last %>
          </div>
        <% end %>
        <% if Masterclass.last.present? %>
          <div class= "col-xs-12 col-md-4 py-4 align-items-center">
            <%= render "shared/contributor", contributor: Masterclass.last.user %>
          </div>
        <% end %>
      </div>

      <div class="row">
        <div class="col-12">
          <div style="padding: 30px 0">
            <h2>Fresh From Our Blog</h2>
            <%= link_to 'Read all our posts', posts_path, class: 'mb-0' %>
          </div>
          <div class="container">
            <div class="row">
              <% Post.free.order(created_at: :desc).limit(9).each do |post| %>
                <div class="col-12 col-sm-6 col-md-4">
                  <div class="card profile-card m-0 mb-5 bg-white rounded">
                    <%= render "shared/post", post: post %>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render "testimonial_banner" %>
