<%= render "hero_home_page_banner" %>

<%= render "what_is" %>

<%= render "expert_banner" %>

<div class="content-section">
  <div class="content-wrap">
    <div class="container">
      <div class="row bor-b-1 align-items-center">
        <% if Masterclass.last.present? %>
          <div class= "col-xs-12 col-md-8 pb-5">
            <%= render "shared/current_masterclass", masterclass: Masterclass.last %>
          </div>
        <% end %>
        <% if User.contributor.first.present? %>
          <div class= "col-xs-12 col-md-4 py-4 align-items-center">
            <%= render "shared/contributor", contributor: User.contributor.first %>
          </div>
        <% end %>
      </div>

      <div class="row">
        <div class="col-xs-12 col-md-8">
          <div style="padding-top: 30px">
            <div><%= link_to 'Fresh From Our Blog', posts_path, class: "h2", style: "font-family: Playfair Display;" %></div>
            <p class="mb-0">Keep updated on our lastest posts</p>
          </div>
          <div class="row">
            <% Post.free.each do |post| %>
              <div class="card col-xs-12 col-sm-5 profile-card mb-5 bg-white rounded">
                <%= render "shared/post", post: post %>
              </div>
            <% end %>
          </div>
        </div>
        <div class="col-xs-12 col-md-4">
          <div class="d-flex flex-column">
            <% Masterclass.limit(1).offset(1).each do |masterclass| %>
              <%= render "shared/masterclass_preview", masterclass: masterclass %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render "testimonial_banner" %>
