<%= render "hero_home_page_banner" %>

<%= render "what_is" %>

<%= render "expert_banner" %>

<div class="content-section">
  <div class="content-wrap">
    <div class="row">
      <div class= "col-xs-12 col-md-8">
        <%= render "shared/current_masterclass", masterclass: Masterclass.last %>
      </div>

      <div class= "col-xs-12 col-md-4">
        <%= render "shared/contributor", contributor: User.contributor.first %>
      </div>
    </div>


    <div class="row">
      <div class=" col-xs-12 col-md-9">
        <%= render "layouts/posts" %>
      </div>
      <div class="col-md-3">
        <%= render "layouts/previous_masterclasses" %>
      </div>
    </div>
  </div>
</div>

<%= render "testimonial_banner" %>