<div class="row d-flex justify-content-around col-12 m-auto">
  <% @users.each do |u| %>
    <% if u.bioavatar?
        image = u.bioavatar.avatar
      else
        image = "contact.png"
      end
       if u.biobackground?
         background = u.biobackground.background
       else
         background = "haute-chocolate-styled-stock-photography-spring-2016-blush-pink-marble-15-final.jpg"
       end
      if u.role == "admin"
        role_color = "#FF3E33"
        elsif u.role == "contributor"
        role_color = "#74008C"
        else
        role_color = "#188C00"
      end
    %>
    <div class="card col-xs-12 col-sm-8 col-md-5 col-lg-4 col-xl-3 profile-card">
      <div class="profile-background-container border border-danger">
      <%= image_tag background, class:'profile-background' %>
      </div>
      <%= image_tag image, class:"rounded-circle profile-avatar border border-danger"%>
      <div class="profile-blocks">
        <div class="profile-content">
          <h5 class="profile-name"><%= u.first_name %> <%= u.surname %></h5>
          <h6 class="profile-role" style="color:<%= role_color %>"><%= u.role.capitalize %></h6>
          <div class="profile-social d-flex justify-content-center">
            <i class="fa fa-facebook-square fa-2x social-icons-profile"></i>
            <i class="fa fa-pinterest-square fa-2x social-icons-profile"></i>
            <i class="fa fa-youtube-square fa-2x social-icons-profile"></i>
            <i class="fa fa-twitter-square fa-2x social-icons-profile"></i>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>


<style>
    * {
      -webkit-transition: all 1s ease;
      transition: all 1s ease;
      font-family: 'Playfair Display', serif;
    }

    *:hover{
      -webkit-transition: all 1s ease;
      transition: all 1s ease;
    }

    .profile-card {
      height: 375px;
      margin: 20px;
      padding: 0;
      position: relative;
      z-index: -1;
      overflow-x: hidden;
    }

    .profile-background-container {
      height: 50%;
      overflow: hidden;
      position: relative;
      z-index: -100;
    }
    .profile-background {
      width:100%;
      display: block;
      filter: blur(2px);
    }


    .profile-avatar{
      width:50%;
      background-color: #fff;
      position: absolute;
      top: 10%;
      left: 25%;
      right: 25%;
    }

    .profile-content {
      margin-top: 25%;
    }

    .profile-name {
      text-align: center;
    }

    .profile-role {
      text-align: center;
    }

    .profile-blocks {
      background-color: #fbcfcc;
      height: 100%;
      position: relative;
      z-index: -4;
    }

    .profile-blocks::before {
      background-color: #fbcfcc;
      height: 100%;
      content: '';
      width: 120%;
      height: 90%;
      left: -30px;
      top: -20px;
      position: absolute;
      z-index: -999;
      transform: rotate(8deg);
      overflow: hidden;
    }

    .profile-social {
      width: 100%;
    }

    .social-icons-profile {
      padding: 15px;
    }


    @media only screen and (max-width: 575px) {
      .profile-avatar{
        width:45%;
        background-color: #fff;
        position: absolute;
        top: 10%;
        left: 27.5%;
        right: 27.5%;
      }
    }

</style>