<h1 class="main-heading center">Members</h1>


<div class="row d-flex justify-content-around col-12 m-auto">
  <% @users.each do |u| %>
    <% if u.bioavatar?
        image = u.bioavatar.avatar
      else
        image = "contact.png"
      end
       if u.biobackground?
         background = u.biobackground.background
       else
         background = "haute-chocolate-styled-stock-photography-spring-2016-blush-pink-marble-15-final.jpg"
       end
      if u.role == "admin"
        role_color = "#FF3E33"
        elsif u.role == "contributor"
        role_color = "#74008C"
        else
        role_color = "#188C00"
      end
    %>
    <div class="card col-xs-12 col-sm-8 col-md-5 col-lg-4 col-xl-3 profile-card">
      <div class="profile-background-container border border-danger">
        <%= image_tag background, class:'profile-background' %>
      </div>
      <%= image_tag image, class:"rounded-circle profile-avatar border border-danger"%>
      <%= link_to root_path, class:'no-style' do %>
      <div class="profile-blocks">
        <div class="profile-content">
          <h5 class="profile-name"><%= u.first_name %> <%= u.surname %></h5>
          <h6 class="profile-role" style="color:<%= role_color %>"><%= u.role.capitalize %></h6>
          <div class="profile-social d-flex justify-content-center">
            <% if u.facebook || u.youtube || u.youtube || u.twitter || u.website %>
            <% if u.facebook%>
              <%= link_to "https://www.facebook.com/#{u.facebook}" do %><i class="fa fa-facebook-square fa-2x social-icons-profile"></i> <% end %>
              <%end%><% if u.pinterest%>
                <%= link_to "https://www.pinterest.com/#{u.pinterest}" do %><i class="fa fa-pinterest-square fa-2x social-icons-profile"></i> <% end %>
              <%end%><% if u.youtube%>
                <%= link_to "https://www.youtube.com/#{u.youtube}" do %><i class="fa fa-youtube-square fa-2x social-icons-profile"></i> <% end %>
              <%end%><% if u.twitter%>
                <%= link_to "https://www.twitter.com/#{u.twitter}" do %><i class="fa fa-twitter-square fa-2x social-icons-profile"></i> <% end %>
              <%end%><% if u.website%>
                <%= link_to "https://#{u.website}" do %><i class="fa fa-globe fa-2x social-icons-profile"></i> <% end %>
            <% end %>
              <% else %>
              <a class="fa fas-globe fa-2x social-icons-profile"></a>
            <% end %>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  <% end %>
</div>


<style>
  .social-icons-profile {
    color: #dc3545;
    margin: 8px;
    position:relative;
    z-index: 99999;
  }

  .social-icons-profile:hover {
    color: #000;
    position: relative;
    z-index: 99999;
  }
    * {
      -webkit-transition: all 1s ease-in-out;
      transition: all 1s ease-in-out;
      font-family: 'Playfair Display', serif;
    }

    *:hover{
      -webkit-transition: all 1s ease;
      transition: all 1s ease;
    }

    .profile-card {
      height: 300px;
      margin: 20px;
      padding: 0;
      position: relative;
      z-index: 1;
      overflow-x: hidden;
    }

    .profile-background-container {
      height: 400px;
      overflow: hidden;
      position: relative;
      z-index: -100;
    }

    .profile-background {
      width:100%;
      display: block;
      filter: blur(2px);
    }


    .profile-avatar{
      width:40%;
      background-color: #fff;
      position: absolute;
      top: 10%;
      left: 30%;
      right: 30%;
    }

    .profile-content {
      /*margin-top: 25%;*/
      position: relative;
      z-index: 1;
    }

    .profile-name {
      text-align: center;
      color: #000000;
    }

    .profile-role {
      text-align: center;
    }

    .profile-blocks {
      background-color: #fbcfcc;
      height: 100%;
      position: relative;
      z-index: -4;
    }

    .profile-blocks:hover {
      background-color: #ffe2e0;
    }

    .profile-blocks::before {
      -webkit-transition: all 1s ease-out;
      transition: all 1s ease-out;
      background-color: #fbcfcc;
      border-top: #dc3545 solid 1px;
      height: 100%;
      content: '';
      width: 120%;
      height: 90%;
      left: -30px;
      top: -15px;
      position: absolute;
      z-index: -999;
      transform: rotate(5deg);
      overflow: hidden;
    }

  .profile-blocks:hover::before {
    background-color: #ffe2e0;
  }

    .profile-social {
      width: 100%;
    }
    .no-style {
      text-decoration: none;
    }



    @media only screen and (max-width: 575px) and (min-width: 430px) {
      .profile-avatar{
        width:30%;
        background-color: #fff;
        position: absolute;
        top: 10%;
        left: 35%;
        right: 35%;
      }
      .profile-blocks::before {
        transform: rotate(3deg)
      }
    }

</style>