<div class="nested-fields">
  <div class="mb-3">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>

  <div class="mb-3">
    <%= f.label :link %>
    <%= f.text_field :link %>
  </div>

  <%= link_to_remove_association "Remove event", f %>
</div>
