<%= form_for [:admins, @masterclass] do |form| %>

  <% if @masterclass.errors.present? %>
    <ul>
      <% @masterclass.errors.full_messages.each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
  <% end %>

  <div class="mb-3">
    <%= form.label :preview %><br>
    <%= form.file_field :preview %>
  </div>

  <div class="mb-3">
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </div>

  <div class="mb-3">
    <%= form.label :text %>
    <%= form.text_field :text %>
  </div>

  <div class="mb-3">
    <%= form.label :user_id, 'Contributor' %>
    <%= form.select :user_id, options_from_collection_for_select(User.contributor, :id, :full_name), prompt: true %>
  </div>

  <h3>Videos</h3>
  <%= form.fields_for :videos do |video| %>

    <%= render 'video_fields', f: video %>

  <% end %>

  <div class="links">
    <%= link_to_add_association 'Add Video', form, :videos %>
  </div>

  <h3>Events</h3>
  <%= form.fields_for :events do |event| %>

    <%= render 'event_fields', f: event %>

  <% end %>

  <div class="links">
    <%= link_to_add_association 'Add Event', form, :events %>
  </div>


  <h3>Documents</h3>
  <%= form.fields_for :documents do |document| %>

    <%= render 'document_fields', f: document %>

  <% end %>

  <div class="links">
    <%= link_to_add_association 'Add Document', form, :documents %>
  </div>

  <div class="mt-3">
    <%= form.submit "Submit", class: "btn btn-primary btn-lg" %>
  </div>
<% end %>
