<h2 class="text-center mt-5">Breakfast</h2>
<div class="row justify-content-center">
    <% @breakfast.last(5).each do |r|%>
      <div class="card margin-sides margin-top-bottom" style="width: 14rem;">
        <img class="card-img-top" src="https://www.oxygenmag.com/.image/ar_16:9%2Cc_fill%2Ccs_srgb%2Cfl_progressive%2Cg_faces:center%2Cq_auto:good%2Cw_620/MTQ1MzQ3MzE0ODg4MDI1ODcz/image-placeholder-title.jpg" alt="Card image cap">
        <div class="card-body">
          <p class="card-text"><%= r.sub_category %></p>
        </div>
      </div>
    <%end%>
  </div>

<h2 class="text-center mt-5">Lunch</h2>
  <div class="row justify-content-center">
    <% @lunch.last(5).each do |r|%>
      <div class="card margin-top-bottom margin-sides" style="width: 14rem;">
        <img class="card-img-top" src="http://joesbarfullerton.com/wp-content/uploads/2017/11/burger.jpg" alt="Card image cap">
        <div class="card-body">
          <p class="card-text"><%= r.sub_category %></p>
        </div>
      </div>
    <%end%>
  </div>

<h2 class="text-center mt-5">Dinner</h2>
  <div class="row justify-content-center">
    <% @dinner.last(5).each do |r|%>
      <%= link_to "test", members_post_path(r.id) %>
      <div class="card margin-top-bottom margin-sides" style="width: 14rem;">
        <img class="card-img-top" src="http://www.435mag.com/images/cache/cache_5/cache_7/cache_0/DateNight_TN-56107075.jpeg?ver=1517968202&aspectratio=1.5009380863039" alt="Card image cap">
        <div class="card-body">
          <p class="card-text"><%= r.sub_category %></p>
        </div>
      </div>
    <%end%>
  </div>

<h2 class="text-center mt-5">Snack</h2>
  <div class="row justify-content-center">
    <% @snack.last(5).each do |r|%>
      <div class="card margin-top-bottom margin-sides" style="width: 14rem;">
        <img class="card-img-top" src="https://www.madewithnestle.ca/sites/default/files/styles/recipe_main_image/public/rolo_peanut_butter_sweet_and_salty_trail_mix_0.jpg" alt="Card image cap">
        <div class="card-body">
          <p class="card-text"><%= r.sub_category %></p>
        </div>
      </div>
    <%end%>
  </div>

<h2 class="text-center mt-5">Desert</h2>
  <div class="row justify-content-center">
    <% @desert.last(5).each do |r| %>
      <div class="card margin-top-bottom margin-sides" style="width: 14rem;">
        <img class="card-img-top" src="https://casamia.co.za/wp-content/uploads/2017/09/chocolate-fudge-cake-with-truffles-.jpg" alt="Card image cap">
        <div class="card-body">
          <p class="card-text"><%= r.sub_category %></p>
        </div>
      </div>
    <% end %>
  </div>