<style>
  .subs{
    text-align: center;
    padding-bottom: 0px;
    margin-bottom: 0;
    text-decoration: none;
  }

  .subsa {
    text-align: center;
    padding-bottom: 10px;
    text-decoration: none;
  }
</style>


<div class="subscription-wrapper">
  <div class="subscription-page-container">
    <div class="subscription-container">

<!--          !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!-->
<!--          !!!!!!!!ACTIVE SUBSCRIPTION!!!!!!!!!!-->
<!--          !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!-->
        <% if @paid %>
          <div class="subscription-container" style="flex-direction: column">
            <h1 class="subs" style="padding-bottom: 20px; width: 100%">Your subscription is active </h1>
            <h2 class="subs">Subscription Id</h2>
            <p class="subsa"><%= @subscription.id %></p>
            <h2 class="subs">User ID</h2>
            <p class="subsa"><%= @subscription.user_id %></p>
            <h2 class="subs">Chargebee ID</h2>
            <p class="subsa"><%= @subscription.chargebee_id %></p>
            <a href="javascript:void(0)" data-cb-type="portal" class="subscription-button" style="width: 100%">Manage subscription</a>
          </div>
        <% end %>

<!--          !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!-->
<!--          !!!!!!!INACTIVE SUBSCRIPTION!!!!!!!!!-->
<!--          !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!-->

        <% if @paid == false%>
          <div class="subscription-container" style="flex-direction: column">
            <h1 class="subs" style="padding-bottom: 20px; width: 100%">Your subscription is inactive </h1>
            <h2 class="subs">Subscription Id</h2>
            <p class="subsa"><%= @subscription.id %></p>
            <h2 class="subs">User ID</h2>
            <p class="subsa"><%= @subscription.user_id %></p>
            <h2 class="subs">Chargebee ID</h2>
            <p class="subsa"><%= @subscription.chargebee_id %></p>
            <a href="javascript:void(0)" data-cb-type="checkout" data-cb-plan-id="premium" class="subscription-button" style="width: 100%">Subscribe</a>
          </div>
        <% end %>




<!--          !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!-->
<!--          !!!!!!!!!!NO SUBSCRIPTION!!!!!!!!!!!!-->
<!--          !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!-->
      <% if ! @subribed %>
        <div class="subscription-container" style="flex-direction: column">
          <h1 class="subs" style="padding-bottom: 20px;">Subscriptions </h1>
          <h2 class="subs">Why should you subscribe?</h2>
          <p class="subs">Reason 1</p>
          <p class="subs">Reason 1</p>
          <p class="subs">Reason 1</p>
          <a href="javascript:void(0)" data-cb-type="checkout" data-cb-plan-id="premium" class="subscription-button" style="width: 100%">Subscribe</a>
        </div>
      <% end %>



    </div>
  </div>
</div>