<div class="nested-fields">
  <div class="form-group">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>

  <div class="form-group">
    <%= f.label :link %>
    <%= f.text_field :link %>
  </div>

  <%= link_to_remove_association "Remove document", f %>
</div>
