<div class="nested-fields">
  <div class="mb-3">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>

  <div class="mb-3">
    <%= f.label :link %>
    <%= f.text_field :link %>
  </div>

  <div class="mb-3">
    <%= f.label :sequence %>
    <%= f.number_field :sequence %>
  </div>

  <div class="pretty p-default">
    <%= f.check_box :welcome_video %>
    <div class="state p-primary">
        <label>Is this the welcome video?</label>
    </div>
  </div>

  <%= link_to_remove_association "Remove video", f %>
</div>
