<h1><%= @masterclass.title %></h1>

<p><%= @masterclass.text %></p>

<% @masterclass.videos.order(sequence: :asc).each do |video| %>

  <div class="">

      <div style="padding:66.25% 0 0 0;position:relative;"><iframe src="<%= video.link %>" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
  </div>

<% end %>

<% @masterclass.events.order(sequence: :asc).each do |event| %>

  <div class="">
    <%= event.link %>
  </div>
<% end %>

<% @masterclass.documents.order(sequence: :asc).each do |document| %>

  <div>
    <%= link_to document.link.url, target: '_blank' do %>
      <%= image_tag(document.link.cover.url, class: "masterclass-preview") %>
    <% end %>
  </div>
<% end %>


<%= link_to 'Delete this masterclass', @masterclass, method: :delete %>
<div>
<%= link_to 'Edit this masterclass', edit_masterclass_path(@masterclass) %>
</div>

<style media="screen">
  .masterclass-preview {
    height: 360px;
  }
</style>
