<h1 class="main-heading center">Posts</h1>

<ul>
<% @categories.each do |category| %>

  <li><a href="posts?category=<%= category.id %>"><%= category.name %></a></li>
  
<% end %>
</ul>
<div class="row d-flex justify-content-around col-12 m-auto" style="background-color:#ececec;">
  <% @posts.each do |post| %>

    <div class="card col-xs-12 col-sm-8 col-md-5 col-lg-4 col-xl-3 profile-card shadow p-3 mb-5 bg-white rounded">
      <div class="profile-background-container d-flex align-items-center">
        <%= image_tag post.image_url, class:"post-background" if post.image.present? %>
      </div>

      <div class="post-blocks">
          <div class="post-content">

            <h5 class="section-heading" style="color:#990051;"><%= link_to post.title, post %></h5>
            <h6 class="paragraph"><%= sanitize post.post_description, post %></h6>
            <p>Posted by <%= post.user.first_name %> <%= post.user.surname%></p>

            <div class="btn-group">
              <%= link_to like_post_path(post), method: :put, class: "btn btn-default btn-sm" do %>
              <span class="glyphicon glyphicon-chevron-up"></span>
              Like
              <%= post.get_upvotes.size %>


            <% end %>
<br>
            <div>
              <p><%= post.created_at.strftime("%d %b %y") %></p>
            </div>


                    </div>



          </div>
        </div>
    </div>
      <% end %>

</div>
