<section class="post-main">

<!-- <div class="post-category">
<#%= @post.category.name %>
</div> -->

<!-- Hero image -->
	<div class="post-image-main">
		<%= image_tag(@post.image_url.to_s) %>
		</div>

		<div class="post-title-main">
			<%= @post.title %>
		</div>

		<br>

		<div class="post-body-main">
			<%= @post.post_description %>
		</div>
		<br>

	<div class="post-body-main">
		<%= sanitize @post.body_text, tags: %w(p ul li ul iframe) %>
	</div>

	<% @post.contents.each do |content| %>

		<p>
	    <%= render "layouts/post_content/#{content.content_type}.html.erb", :@content => content %>
	  </p>
	<% end %>

About the author

<%= render 'author' %>

<!--The below generates n error, so commenting out

	<#%= render partial: 'comments/form', locals: { comment: @comment } %>

-->

</section>

<%= link_to 'Edit post', edit_post_path %>
