<section class="post-main">



<!-- Hero image -->
	<div class="post-image-main">
		<%= image_tag(@post.image_url.to_s) %>
		</div>

							<div class="post-image-main">
		<%= image_tag(@post.image_url.to_s) %>
		</div>

	</div>

	</div>

	<div class="post-title-main">
		<%= @post.title %>
	</div>


	<div>
		<%= sanitize @post.body_text, tags: %w(p ul li iframe) %>
	</div>


	


	<% @post.contents.each do |content| %>

		<p>
	    <%= render "layouts/post_content/#{content.content_type}.html.erb", :@content => content %>
	  </p>
	<% end %>

		<%= render partial: 'comments/form', locals: { comment: @comment } %>

<!--
Add in option here for Hero image

	<h1 class="post-title"><%= @post.title %></h1>
		<p class="post-body"><%= sanitize @post.body_text %></p>

<!-- this allows the frame to be rendered, but messes with the p tags, so need to work out how to get that working-->
		<!-- <%= sanitize @post.body_text, tags: %w( iframe ), attributes: %w(src source width height )%> -->

About the author

<%= render 'author' %>




<section class="post">

Add in option here for Hero image

    <h1 class="post-title"><%= @post.title %></h1>
        <p class="post-body"><%= sanitize @post.body_text %></p>
    <p><%= image_tag @post.image_was if @post.image.present?  %></p>


        <% @comments.each do |comment| %>
          <div>
            <strong><%= comment.user_id %></strong>
            <br>
                <p><%= comment.title %></p>
            <p><%= comment.body %></p>
            <!-- <p><%= link_to 'Delete', comment_path(comment), method: :delete, data: { confirm: 'Are you sure?' } %></p> -->
          </div>
        <% end %>
        <%= render partial: 'comments/form', locals: { comment: @comment } %>



</section>
