<h1><%= @post.title %></h1>
<p><%= @post.body_text %></p>
<%= image_tag(@post.image_url.to_s) %>
<% @post.contents.each do |content| %>
  <p>
    <%= render "layouts/post_content/#{content.content_type}.html.erb", :@content => content %>
  </p>
<% end %>


<% if can? :destroy, @post %>
<%= link_to 'Delete this post', @post, method: :delete %>
<% end %>

<div>
  <%= link_to 'Edit this post', edit_post_path(@post) %>
</div>
