<h1><%= @post.title %></h1>
<p><%= @post.body_text %></p>
<%= image_tag(@post.image_url.to_s) %>
<% @post.contents.each do |content| %>
    <%= render "layouts/post_content/#{content.content_type}.html.erb", :@content => content %>
<% end %>



<<<<<<< HEAD
<div>
  <%= link_to 'Edit this post', edit_post_path(@post) %>
</div>
=======
<% if can? :manage, @post %>
<%= link_to 'edit post', edit_post_path, class: 'button show'  %>
<% end %>
>>>>>>> beac10f8765dadec71c41f1895bd5bce97efd475
