<!DOCTYPE html>
<html>
<%= render 'layouts/head' %>
<% if @subscribed
     @background_color = "vip_background"
   end %>
<body class="<%= @background_color %>">
<div class="main-container">
  <div class="main-header-wrapper">
    <%= render 'layouts/members/header' %>
  </div>
  <div class="main-body-content">
    <%= yield %>
  </div>

  <div class="main-footer-container">
    <%= render "layouts/footer" %>
  </div>
</div>

</body>
</html>