<div class="expert-banner-background-color">
  <div class="expert-banner-container">

    <div class="mySlides expert-banner-fade">
      <div class="expert-banner-post">
        <%= image_tag('Elery.jpg', class: "expert-banner-image")%>
        <div>
          <h2 class="expert-name secondary-heading">Elery Hughes</h2>
          <h5 class="expert-name third-heading"> Personal Trainer, Jersey</h5>
          <p class="expert-description paragraph">Elery is a freelance personal trainer with several years experience working with clients to overhaul their lifestyle and live healthier lives.</p>
        </div>
      </div>
    </div>

    <div class="mySlides expert-banner-fade">
      <div class="expert-banner-post">
        <%= image_tag('Menellia.jpg', class: "expert-banner-image")%>
        <div>
         <h2 class="expert-name secondary-heading">Menellia Valcent</h2>
         <h5 class="expert-name third-heading"> Life Coach, St Lucia</h5>
          <p class="expert-description paragraph">Menellia is a life and success coach, fashion blogger, and founder of Menellia Valcent Coaching. Based in St Lucia, she currently works with clients worldwide empowering and encouraging them to live their best lives..</p>
        </div>
      </div>
    </div>

    <div class="mySlides expert-banner-fade">
      <div class="expert-banner-post">
        <%= image_tag('Yolanda.jpg', class: "expert-banner-image")%>
        <div>
          <h2 class="expert-name secondary-heading">Yolanda Sáez Castelló Msc.</h2>
          <h5 class="expert-name third-heading"> EFT Practitioner, Jersey</h5>
          <p class="expert-description paragraph">Yolanda is an advanced practitioner of the Emotional Freedom Technique (EFT or Tapping), Thought Field Therapy (TFT) and Founder of Tap It Better. She is trained to a level reached by only 200 other practitioners worldwide.</p>
        </div>
      </div>
    </div>

    <div class="mySlides expert-banner-fade">
      <div class="expert-banner-post">
        <%= image_tag('Ashley Yoga.jpg', class: "expert-banner-image")%>
        <div>
          <h2 class="expert-name secondary-heading">Ashley Cummins</h2>
          <h5 class="expert-name third-heading"> Yoga & Pilates Instructor, Jersey</h5>
          <p class="expert-description paragraph">Ashley is an advanced yoga and pilates instructor and founder of Move Yoga & Pilates. She is the creator of Health & Style Club's first monthly masterclass.</p>
        </div>
      </div>
    </div>

    <div class="mySlides expert-banner-fade">
      <div class="expert-banner-post">
        <%= image_tag('tiphanie-yan.jpg', class: "expert-banner-image")%>
        <div>
          <h2 class="expert-name secondary-heading">Tiphanie Yan</h2>
            <h5 class="expert-name third-heading"> Holistic Therapist, Paris</h5>
          <p class="expert-description paragraph">Tiphanie is an internationally certified Naturopathy Nutritionist, Life Coach, Holistic Therapist, Yoga Instructor, and Reiki Master. </p>
        </div>
      </div>
    </div>

    <div class="mySlides expert-banner-fade">
      <div class="expert-banner-post">
        <%= image_tag('katie-woodland.jpg', class: "expert-banner-image")%>
        <div>
          <h2 class="expert-name secondary-heading">Katie Woodland</h2>
          <h5 class="expert-name third-heading"> Psychiatrist, Stropshire UK</h5>
          <p class="expert-description paragraph">Katie is a pychiatrist specialising in helping patients overcome stress, depression, and anxiety so that they can live a life full of happiness.</p>
        </div>
      </div>
    </div>

    <div class="mySlides expert-banner-fade">
      <div class="expert-banner-post">
        <%= image_tag('Erica Hoese.jpg', class: "expert-banner-image")%>
        <div>
          <h2 class="expert-name secondary-heading">Erica Hoese</h2>
          <h5 class="expert-name third-heading"> Personal Trainer, Minnesota USA</h5>
          <p class="expert-description paragraph">Erica is a personal trainer encouraging and equipping moms to live their happiest, healthiest and best lives.</p>
        </div>
      </div>
    </div>


    <!-- Next and previous buttons -->
    <a class="prev js-prev" data-number="-1">&#10094;</a>
    <a class="next js-next" data-number="1">&#10095;</a>
  </div>

  <!-- The dots/circles -->
  <div class="" style="text-align:center">
    <span class="dot js-dot" data-number="1"></span>
    <span class="dot js-dot" data-number="2"></span>
    <span class="dot js-dot" data-number="3"></span>
  </div>
</div>
