
<div class="d-flex justify-content-between border-bottom border-dark">
  <div class="row pl-3 nav-bar-icon">
    <i class="fa fa-facebook-square p-3"></i>
    <i class="fa fa-pinterest-square p-3"></i>
    <i class="fa fa-youtube-square p-3"></i>
    <i class="fa fa-twitter-square p-3"></i>
  </div>

  <div class="row p-3">
        <%= link_to 'FAQ', faq_path, class:'main-navigation-link' %>
        <% if ! @signed_in%>
         <%= link_to 'sign up', new_user_registration_path, class:'main-navigation-link' %>
         <%= link_to 'login', new_user_session_path, class:'main-navigation-link' %>
      <% else %>
          <button class="btn p-0" id="AccountMenu" data-toggle="dropdown"><i class="fa fa-user-circle p-0 m-0"></i>
          </button>
          <div class="dropdown-menu" aria-labelledby="AccountMenu">
            <%= link_to "Edit Account", edit_user_registration_path, class:"dropdown-item" %>
            <%= link_to "Edit Account", edit_user_registration_path, class:"dropdown-item" %>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Separated link</a>
          </div>
         <%= link_to "Subscriptions", subscriptions_path, class: 'main-navigation-link' %></a>
         <%= link_to 'Logout', destroy_user_session_path, method: :delete, class:'main-navigation-link' %>
      <% end %>
  </div>
</div>

<div class="main-header">
  <%= link_to "Health & Style Club", root_path, class: "main-header-title" %>
</div>

<div class="d-flex justify-content-between p-3 m-2 col-12 row">
    <%= link_to "Posts", posts_path, class: 'main-navigation-link' %>
    <%= link_to "Members Page", members_path, class: 'main-navigation-link' %>
    <a href="" class="main-navigation-link">Navigation</a>
    <a href="" class="main-navigation-link">Navigation</a>
</div>