<header class="external-header">

  <div class="external-header__inner">

    <%= link_to root_path, class: "main-header-title" do %>
      <h1 class="external-header__logo">Health & Style Club</h1>
    <% end %>

    <nav class="external-header__desktop-nav">
      <ul class="external-header__desktop-nav-list">
        <li class="external-header__desktop-nav-item"><%= link_to "Fitness & Nutrition", fitness_and_nutrition_path %></li>
        <li class="external-header__desktop-nav-item"><%= link_to "Personal Styling", personal_styling_path %></li>
        <li class="external-header__desktop-nav-item"><%= link_to "Personal Development", personal_development_path %></li>
        <li class="external-header__desktop-nav-item"><%= link_to "Masterclasses", our_masterclasses_path %></li>
        <li class="external-header__desktop-nav-item"><%= link_to 'Log in', new_user_session_path %></li>
      </ul>
    </nav>

    <div class="external-header__mobile-nav">
      <ul class="mobile-nav__menu">
        <span class="mobile-nav__close"><i class="fa fa-2x fa-times mobile-nav-icon" aria-hidden="true"></i></span>
        <li class="mobile-nav__item"><%= link_to "Home", root_path %></li>
        <li class="mobile-nav__item"><%= link_to "Posts", posts_path %></li>
        <li class="mobile-nav__item"><%= link_to "Members Page", members_path %></li>
        <li class="mobile-nav__item"><%= link_to "Contact", new_contact_path %></li>
        <li class="mobile-nav__item"><%= link_to 'Log in', new_user_session_path %></li>
      </ul>
    </div>
  </div>

</header>