<header class="header">

  <div class="header__inner">

    <%= link_to root_path, class: "main-header-title" do %>
      <h1 class="header__logo">Health & Style Club</h1>
    <% end %>

    <nav class="header__desktop-nav">
      <ul class="header__desktop-nav-list">
        <li class="header__desktop-nav-item">
          <%= nav_link_to fitness_and_nutrition_path, class: 'header__desktop-nav-link' do %>
            Fitness & Nutrition
          <% end %>
        </li>
        <li class="header__desktop-nav-item">
          <%= nav_link_to personal_styling_path, class: 'header__desktop-nav-link' do %>
            Personal Styling
          <% end %>
        </li>
        <li class="header__desktop-nav-item">
          <%= nav_link_to personal_development_path, class: 'header__desktop-nav-link' do %>
            Personal Development
          <% end %>
        </li>
        <li class="header__desktop-nav-item">
          <%= nav_link_to our_masterclasses_path, class: 'header__desktop-nav-link' do %>
            Masterclasses
          <% end %>
        </li>
        <li class="header__desktop-nav-item">
          <%= nav_link_to new_user_session_path, class: 'header__desktop-nav-link' do %>
            Log in
          <% end %>
        </li>
      </ul>
    </nav>

    <div class="header__mobile-nav">
      <ul class="mobile-nav__menu">
        <span class="mobile-nav__close"><i class="fa fa-2x fa-times mobile-nav-icon" aria-hidden="true"></i></span>
        <li class="mobile-nav__item"><%= link_to "Home", root_path %></li>
        <li class="mobile-nav__item"><%= link_to "Posts", posts_path %></li>
        <li class="mobile-nav__item"><%= link_to "Members Page", members_path %></li>
        <li class="mobile-nav__item"><%= link_to "Contact", new_contact_path %></li>
        <li class="mobile-nav__item"><%= link_to 'Log in', new_user_session_path %></li>
      </ul>
    </div>
  </div>

</header>