<div class="d-flex justify-content-between border-bottom border-dark">
  <div class="row pl-3 nav-bar-icon">
    <i class="fa fa-facebook-square p-3"></i>
    <i class="fa fa-pinterest-square p-3"></i>
    <i class="fa fa-youtube-square p-3"></i>
    <i class="fa fa-twitter-square p-3"></i>
  </div>

  <div class="row p-3">
        <%= link_to 'FAQ', faq_path, class:'main-navigation-link' %>
        <% if ! @signed_in%>
         <%= link_to 'sign up', new_user_registration_path, class:'top-navigation-link' %>
         <%= link_to 'login', new_user_session_path, class:'top-navigation-link' %>
      <% else %>
         <%= link_to 'Logout', destroy_user_session_path, method: :delete, class:'top-navigation-link' %>
         <%= link_to "Become a Member", subscriptions_path, class: 'top-navigation-link' %></a>
      <% end %>
  </div>
</div>

<div class="main-header">
  <%= link_to "Health & Style Club", root_path, class: "main-header-title" %>
</div>

<div class="d-flex justify-content-between p-3 m-2 col-12 row navigation">
    <div class="main-navigation-container">
      <div>
        <%= image_tag('smiley', class: 'main-navigation-image') %>
      </div>
      <div class="mt-2">
        <%= link_to "Posts", posts_path, class: 'main-navigation-link' %>
      </div>
    </div>
    <div class="main-navigation-container">
      <div>
        <%= image_tag('smiley', class: 'main-navigation-image') %>
      </div>
      <div class="mt-2">
        <%= link_to "Members Page", members_path, class: 'main-navigation-link' %>
      </div>
    </div>
    <div class="main-navigation-container">
      <div>
        <%= image_tag('smiley', class: 'main-navigation-image') %>
      </div>
      <div class="mt-2">
        <a href="" class="main-navigation-link mt-2">Navigation</a>
      </div>
    </div>
    <div class="main-navigation-container">
      <div>
        <%= image_tag('smiley', class: 'main-navigation-image') %>
      </div>
      <div class="mt-2">
        <a href="" class="main-navigation-link mt-2">Navigation</a>
      </div>
    </div>
</div>
