<div class="main-header">
  <%= link_to "Health & Style Club", root_path, class: "main-header-title" %>

</div>
<div class="main-members-area">
  <a href="" class="members-area-title">Members Area</a>
  </div>
    <nav class="main-navigation">
      <ul class="navigation">
      <li><%= link_to "Posts", posts_path, class: 'main-navigation-link' %></li>
      <li><%= link_to "Subscriptions", subscriptions_path, class: 'main-navigation-link' %></li>
      <li><%= link_to "login", user_session_path, class: 'main-navigation-link'%></li>
      <li><%= link_to 'Logout', destroy_user_session_path, method: :delete, class:'main-navigation-link' %></li>
      <!-- <li><% if current_user != nil && current_user.role == "admin" %>
         <%= link_to 'login', posts_path, class:'main-navigation-link login' %></p>
      <% end %></li> -->
      </ul>
    </nav>
