<!DOCTYPE html>
<html>
  <head>
    <title>Hsclub</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"></script>
      <script src="https://js.chargebee.com/v2/chargebee.js" data-cb-site="hsclub" ></script>
    <header> <%= link_to :Home, root_path %> </header>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet">
  </head>

  <body>
    <header>
      <div class="main-header">
        <%= link_to "Health & Style Club", root_path, class: "main-header-title" %>
      </div>
      <div class="main-members-area">
        <a href="" class="members-area-title">Members Area</a>
      </div>
      <nav class="main-navigation">
        <%= link_to "Posts", posts_path, class: 'main-navigation-link' %>
        <a href="" class="main-navigation-link">Navigation</a>
        <a href="" class="main-navigation-link">Navigation</a>
        <a href="" class="main-navigation-link">Navigation</a>
      </nav>
    </header>

  <% if notice %>
    <p class="alert alert-success"><%= notice %></p>
    <% end %>
  <% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
    <% end %>

    <%= yield %>

  </body>
  <!-- <#%= render "footer" %> -->
</html>
