<!DOCTYPE html>
<html>
  <%= render 'layouts/head' %>
  <% if @subscribed
     @background_color = "vip_background"
   end %>
  <body class="<%= @background_color %>">
    <%= render "layouts/header" %>

    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
      <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
      <% end %>

    <div>
      <%= yield %>
    </div>

    <%= render "layouts/footer" %>

  </body>
</html>
